<div class="table-wrap" [style.height.px]="displayByPx">

  <table cellspacing="0" cellpadding="0" class="value-table">

    <tr class="header">

      <ng-container *ngFor="let h of headers">
        <th>
          <span class="name">{{h.name}}</span>
          <span class="filter-btn" (click)="filterBtnClick(h)" [title]="filteredAsc ? 'order asc': 'order desc'">
                  <span class="ico " [ngClass]="(filteredAsc) && h === filteredColumn ? 'icon-chevron-up' : 'icon-chevron-down'"></span>
          </span>
        </th>
      </ng-container>


    </tr>

    <tr class="data-row" *ngFor="let row of viewData">

      <td *ngFor="let col of row.items" [innerHTML]="col.disVal">

      </td>

    </tr>



    <tr>
      <td [attr.colspan]="headers.length"  class="service-area">

        

          <span class="format-by">
            <span>By: </span>

            <select class="select" (change)="pagingChanged($event)">
              <option *ngFor="let i of displayBys" [selected]="i === displayBy" value="{{i}}">{{i}}</option>        
            </select>
          </span>

          <span class="paging">
            <span class="dir left icon-left-dir"></span>
            <span class="page">{{pageNo}}</span>
            <span class="dir right icon-right-dir"></span>
          </span>

        

      </td>
    </tr>


  </table>

</div>