<!--<div class="table-wrap">

    <table cellspacing="0" cellpadding="0" class="value-table">
          
          <tr class="header">
            <th>Stichtag</th>
            <th>Beschreibung</th>
            <th>Download</th>
          </tr>

          <tr class="data-row">
            <td>08.02.2017</td>
            <td>Gas-Union Marktbericht</td>
            <td>Download</td>
          </tr>

          <tr class="data-row">
            <td>08.02.2017</td>
            <td>Gas-Union Marktbericht</td>
            <td>Download</td>
          </tr>

          <tr class="data-row">
            <td>08.02.2017</td>
            <td>Gas-Union Marktbericht</td>
            <td>Download</td>
          </tr>


        </table>

  </div>-->


<div 
  [id]="id" 
  class="win-all" 
  [ngClass]="responsiveClass"
  style="width: 600px; height: 300px;" 
  [style.left.px]="left" 
  [style.top.px]="top">  
  
  <div class="bar" (mousedown)="mouseDown($event)">{{title}}</div>
  <div class="content">
    <!--<div #content></div>-->

    <div class="test-thing" (click)="testClick()">{{data}}</div>

  </div>
</div>


  