<div class="window-all" [ngClass]="responsiveClass">


  <div class="bck"></div>

  <div class="dash-all" [ngClass]="menuOpenedClass">

    <div class="dash-panel">

      <div class="srv">
        <span (click)="switchMenuVisibility()" class="close icon-times-circle"></span>
      </div>

      <div class="content">

        <div class="date-all">
          
          

          <div class="tbl">
            <div class="i c w50">
              <span class="date">10.05.2017</span>
            </div>
            <div class="i c w50">
              <span class="time">10:31:30</span>
            </div>
          </div>
        </div>

        <main-menu></main-menu>

        

      </div>

    </div>
  </div>

  <div class="windows" (mousemove)="mouseMove($event)" (mouseup)="mouseUp($event)">

    <div class="mobile-btn-bck">
      <span class="ico icon-list" (click)="switchMenuVisibility()"></span>
    </div>


    <div #content></div>


  </div>

</div>