@import "main";

$title-bck: $c-blue;
$title-color: white;

$table-border-color: inherit;

$filter-btn-color: white;
$filter-btn-hover: $c-green;

$item-bck: white;
$item-bck2: $c-gray;
$item-hover: $c-green;

$row-even: $c-light-gray;

$border-style: 1px solid $table-border-color;

.table-wrap {
    padding: 0.5em;
}

.value-table {
    
    @include noselect;

    width: 100%;
    
    border: none;
    font-size: 0.8em;

    th,td {
        padding: 6px;
    }

    th {
        position: relative;

        .filter-btn {
            display: none;

            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            padding: 8px;

            cursor: pointer;

            .ico {
                color: $filter-btn-color;
            }

            &:hover {
                .ico {
                    color: $filter-btn-hover;
                }
            }
        }


        &:hover {
            .filter-btn {
                display: inline-block;
            }
        }
    }

    tr {
        background-color: $item-bck;

        &:first-of-type {
            background-color: $title-bck;
            color: $title-color;

            th,td {
                border-top: $border-style;
            }
        }

        &:nth-child(even) {
            background-color: $row-even;
        }
    }

    
    td,th {
        border-right: $border-style;
        border-bottom: $border-style;

        &:first-of-type{
            border-left: $border-style;            
        }
    }

    .data-row:hover {
        background-color: $item-hover;
        color: white;
    }


}