@import "main";

$border-inactive-color: none;
$bck-inactive-color: white;

$border-active-color: none;
$bck-active-color: white;

$item-hover: $a-hover-color;
$item-active: $c-dark-orange;


$min-height: 8em;

.list-box {
    display: block;

    

    border: 1px solid $border-inactive-color;
    background-color: $bck-inactive-color;

    font-size: 0.9em;

    min-height: $min-height;

    width: 100%;
    

    &:focus {
        outline: none;

        border: 1px solid $border-active-color;
        background-color: $bck-active-color;
    }

    .item {
        display: block;
        width: 100%;

        box-sizing: border-box;

        cursor: pointer;
        padding: 0.5em;

        @include noselect;
        
        &:hover {
            background-color: $item-hover;
            color: white;
        }

        &.active {
            background-color: $item-active;                        
            color: white;
        }

    }
}
