
$win-bck: #EFEFEF;
$win-bar: #e4e5e5;
$win-border: #cacaca;

$red1: 	#ff0000;

$focus1: darkgray;

$orange-light: #FF852E;
$orange-dark: #FF6B00; 

body {
    font-family: "verdana";
    font-size: 16px;

    min-width: 480px;
}

.hidden {
    display: none;
}

.lbtn {
    display: inline-block;
    border-radius: 2px;
    font-size: 15px;

    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;

    cursor: pointer
}

.focus-orange {
    background-color: $orange-dark;
    color: white;

    &:hover {
        background-color: $orange-light;
    }
}

.tbl {
    display: table;
    width: 100%;

    .i {
        display: table-cell;
        vertical-align: middle;
    }

    .w50 {
        width: 50%;
    }

    .l {
        text-align: left;
    }

    .r {
        text-align: right;
    }

    .c {
        text-align: center;
    }
}

@mixin centerer() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




