
// http://www.colourlovers.com/palette/148712/Gamebookers
$c-dark-orange: #FF9900;

$c-vdark-gray: #424242;
$c-dark-gray: #5c5c5c;
$c-gray: #BCBCBC;
$c-light-gray: #E9E9E9;

$c-blue: #3299BB;

$c-green: #60B99A;



$win-bck: #EFEFEF;
$win-bar: #e4e5e5;
$win-border: #cacaca;

$red1: 	#ff0000;



$focus1: darkgray;

$orange-light: #FF852E;
$orange-dark: #FF6B00; 

body {
    font-family: "verdana";
    font-size: 16px;

    min-width: 480px;
}

.hidden {
    display: none;
}

.lbtn {
    display: inline-block;
    border-radius: 2px;
    font-size: 15px;

    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;

    cursor: pointer
}

.focus-green {
    background-color: $c-vdark-gray;
    color: white;

    &:hover {
        background-color: $c-green;
    }
}

.control-wrap {
    display: inline-block;
    vertical-align: top;

    .title {
        font-weight: bold;
        font-size: 0.9em;
    }
}

.control-wrap-row {    
    vertical-align: top;

    .title {
        font-weight: bold;
        font-size: 0.9em;
    }
}

.column-wrap {
    display: inline-block;
    vertical-align: top;
}

.no-decoration {
    text-decoration: none;
}



.tbl {
    display: table;
    width: 100%;

    .i {
        display: table-cell;
        vertical-align: middle;
    }

    .w50 {
        width: 50%;
    }

    .l {
        text-align: left;
    }

    .r {
        text-align: right;
    }

    .c {
        text-align: center;
    }
}

@mixin centerer() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin noselect() {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}




