
$win-bck: #EFEFEF;
$win-bar: #e4e5e5;
$win-border: #cacaca;

$red1: 	#ff0000;

$focus1: darkgray;

$orange-light: #FF852E;
$orange-dark: #FF6B00; 

body {
    font-family: "verdana";
    font-size: 16px;

    min-width: 480px;
}

.test-thing {
position: absolute;
top: 100px;
left: 100px;

    width: 200px;
    height: 200px;

    background-color: red;

    z-index: 9999999999999999;
}

.hidden {
    display: none;
}

.lbtn {
    display: inline-block;
    border-radius: 2px;
    font-size: 15px;

    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;

    cursor: pointer
}

.tbl {
    display: table;
    width: 100%;

    .i {
        display: table-cell;
        vertical-align: middle;
    }

    .w50 {
        width: 50%;
    }

    .l {
        text-align: left;
    }

    .r {
        text-align: right;
    }

    .c {
        text-align: center;
    }
}



.dash-all {
    z-index: 999999;

    background-color: #dddddd;

    .dash-panel {                
        background-color: $win-bck;
    }

    .date-all {
        background-color: #777777;

        .date,.time {
            display: inline-block;
            color: white;
            font-size: 1.4em;

            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    $menu-background: #999999;

    .dash-menu {        
        font-size: 0.9em;

        background-color: $menu-background;
        color: white;

        border-top: 1px solid $menu-background;

        .layout-tbl {
            display: table;
            width: 100%;

            .first-items {
                display: table-cell;                
                text-align: left;

                width: 50%;

                .item-all {            
                    padding: 5px;
                    

                    cursor: pointer;

                    .ico-cell {
                        width: 1.4em;
                    }

                    .ico {
                        display: inline-block;
                        vertical-align: middle;
                        
                        padding-top: 3px;
                    }

                    .txt {
                        display: inline-block;
                        vertical-align: middle;
                    }

                    &.active, &:hover {                        
                        background-color: #777777;
                    }
                }

            }

            .second-items {
                display: table-cell;
                text-align: left;
                
                width: 50%;

                .top {
                    text-align: right;
                    padding: 6px;

                    .close {
                        color: $menu-background;                        
                        cursor: pointer;

                        font-size: 1.2em;

                         display: inline-block;
                        
                        &:hover {
                            color: $red1;
                        }
                    }
                }

                &.any-items {
                    background-color: #777777;
                }

                .item-all {
                    padding-left: 6px;
                    padding-right: 6px;
                    cursor: pointer;
                    
                    .item {                        
                        padding-top: 6px;
                        padding-bottom: 6px;
                        padding-left: 2px;

                        &:hover {
                            background-color:  $menu-background;
                        }
                        
                    }
                }
                
            }
        }

        
    }

}

.mobile-btn-bck {        
    background-color: darkgray;
    color: white;
    padding: 10px;

    margin-bottom: 8px;

    z-index: 9999999;

    .ico {
        font-size: 40px;
        cursor: pointer;

        &:hover {
            color: $orange-dark;
        }
    }
}

.mobile-resp {

    .dash-all {

        position: fixed;
        top: 40px;
        left: 0;
        right: 0;
        bottom: 0;

        .dash-panel {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            .srv {
                position: relative;
                height: 40px;
                
                .close {
                    position: absolute;
                    top: 10px;
                    right: 10px;

                    cursor: pointer;

                    font-size: 30px;
                    color: darkred;

                    &:hover {
                        color: orange;
                    }
                }
            }

            .content {

            }

        }

        &.closed {
            display: none;
        }
    }

}

.web-resp {

    .mobile-btn-bck {
        display: none;
    }

    .dash-all {

        position: absolute;
        top: 0;
        left: 0;

        width: 340px;
        height: 700px;

        .dash-panel {

            .srv {
                display: none;
            }
        }

    }

}

.focus-orange {
    background-color: $orange-dark;
    color: white;

    &:hover {
        background-color: $orange-light;
    }
}

@mixin centerer() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bck {
    background: url(~/assets/imgs/background.jpg) no-repeat;

    width: 2600px;
    height: 1736px;

    @include centerer();


}

.windows {

    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.win-all {    
    display: inline-block;

    background-color:$win-bck;

    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);

    .bar{
        background-color: $win-bar;
        padding: 4px;     
    }

    .content {

    }
}

.win-dynamic {
    position: absolute;

    .bar{        
        cursor: move;
    }
}

.win-static {
    margin-bottom: 8px;
    width: 100% !important;
}

.table-wrap {
    padding: 0.5em;
}

.value-table {
    $border-style:  1px solid $win-border;

    width: 100%;
    
    border: none;
    font-size: 0.8em;

    th,td {
        padding: 6px;
    }

    tr {
        background-color: white;

        &:first-of-type {
            background-color: $win-bar;

            th,td {
                border-top: $border-style;
            }
        }

        &:nth-child(even) {
            background-color: $win-bck;
        }
    }

    
    td,th {
        border-right: $border-style;
        border-bottom: $border-style;

        &:first-of-type{
            border-left: $border-style;            
        }
    }

    .data-row:hover {
        background-color: darkgray;
        color: white;
    }


}