@import "main";


$tabs-border-color: inherit;
$item-bck-color: $c-gray;
$bck-color: $c-light-gray;
$item-active-color: $c-dark-orange;
$item-hover-color: $c-green;


.tabs-component {
    border: 1px solid $tabs-border-color;
    background-color: $bck-color;

    margin-top: 0.8em;
    padding-bottom: 0.1em;
    padding-left: 0.5em;

    .item {
        display: inline-block;

        color: white;
        background-color: $item-bck-color;

        @include noselect;

        font-size: 0.9em;

        padding: 6px;
        padding-left: 1em;
        padding-right: 1em;
        
        margin-right: 2px;
        margin-left: 2px;

        cursor: pointer;

        &.active {
            color: white;
            background-color: $item-active-color;
        }    

        &:hover {
            color: white;
            background-color: $item-hover-color;
        }
    }

}

.tabs-content {    
        display: none;

        padding: 0.5em;

        &.active {
            display: block;
        }
    }
